* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 90%;
  margin-inline: auto;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../CSS/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: burlywood;
}

.navigation {
  width: 100%;
  padding: 20px 0 10px 0;
}

.navigation .box-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation .box-navigation .box:nth-child(1) h1 {
  font-size: 30px;
  color: white;
}

.navigation .box-navigation .box:nth-child(2) ul {
  display: flex;
  flex-direction: row;
}

.navigation .box-navigation .box:nth-child(2) ul li {
  list-style-type: none;
  margin-left: 40px;
}

.navigation .box-navigation .box:nth-child(2) ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.navigation .box-navigation .box:nth-child(2) ul li a:hover {
  color: slategray;
}

.navigation .box-navigation .box:nth-child(3) {
  display: none;
}

.navigation .box-navigation .box:nth-child(2) ul li i {
  display: none;
}

/*hero style*/
header .hero {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-family: 'Dancing Script', cursive;
}

header .hero h1 {
  color: white;
  font-size: 45px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

/*about style*/
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ede0d4;
}

.about .box-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about .box-about .box:nth-child(1) {
  padding-right: 30px;
}

.about .box-about .box:nth-child(1) h1 {
  font-size: 42px;
  color: lightslategrey;
  margin-bottom: 20px;
}

.about .box-about .box:nth-child(1) p {
  line-height: 2;
}

.about .box-about .box:nth-child(2) img {
  border-radius: 10px;
  width: 600px;
}

/* hobby style */
.hobby {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #e3d5ca;
}

.hobby .box-hobby {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hobby .box-hobby .box {
  height: 400px;
  width: 310px;
  text-align: center;
  color: gray;
  margin-inline: 20px;
}

.hobby .container .box-hobby .box img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* campus */
.campus-activity {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #d6ccc2;
}

.campus-activity .box-campus-activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: grey;
  text-align: center;
}

.campus-activity .box-campus-activity img {
  width: 300px;

  margin: 20px;
  border-radius: 10px;
}

/* .campus-activity {
} */

/* contact */
.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5bdaf;
}

.contact .box-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact .box-contact h1 {
  font-size: 50px;
  font-weight: 700;
  color: gray;
}

.contact .box-contact form table tr {
  display: flex;
  flex-direction: column;
}

.contact .box-contact form table tr td label {
  font-size: 20px;
  color: gray;
}

.contact .box-contact form table tr td input {
  padding: 15px 60px 15px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.contact .box-contact form table tr td textarea {
  margin-top: 10px;
  padding: 15px 200px 200px 20px;
  border-radius: 10px;
}

/* footer */
footer {
  background-color: white;
}

footer p {
  text-align: center;
  padding: 20px 0 20px 0;
  color: black;
}

@media screen and (max-width: 1200px) {
  .about .box-about .box:nth-child(2) img {
    width: 500px;
  }
}

@media screen and (max-width: 990px) {
  .navigation .box-navigation .box:nth-child(2) {
    display: flex;
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: antiquewhite;
    width: 250px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .navigation .box-navigation .menu-navigation.menu-active {
    opacity: 1;
    top: 100px;
  }

  .navigation .box-navigation .box:nth-child(2) ul {
    flex-direction: column;
  }

  .navigation .box-navigation .box:nth-child(2) ul li {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 0px;
  }

  .navigation .box-navigation .box:nth-child(2) ul li i {
    margin-inline: 10px;
    font-size: 24px;
    display: inline-block;
  }

  .navigation .box-navigation .box:nth-child(2) ul li a {
    color: black;
  }

  .navigation .box-navigation .box:nth-child(3) {
    display: flex;
    align-items: center;
  }

  .navigation .box-navigation .box:nth-child(3) i {
    font-size: 28px;
  }

  header .hero h1 {
    font-size: 34px;
  }

  .about .box-about {
    flex-direction: column-reverse;
  }

  .about .box-about .box:nth-child(1) {
    text-align: center;
    margin-top: 30px;
    padding-right: 0;
  }

  .about .box-about .box:nth-child(2) img {
    width: 400px;
  }

  /* hobby style */
  .hobby {
    height: 100%;
    padding-top: 50px;
    background-color: #f7ede2;
  }

  .hobby .box-hobby {
    flex-direction: column;
  }

  .hobby .box-hobby .box {
    margin-bottom: 30px;
  }

  .hobby .box-hobby .box img {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  header .hero h1 {
    font-size: 28px;
  }

  .campus-activity {
    height: 100%;
    padding: 50px 0 50px 0;
  }

  .contact {
    height: 100%;
    padding: 100px 0 100px 0;
  }

  .contact .box-contact {
    flex-direction: column;
  }

  .contact .box-contact h1 {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 575px) {
  .about .box-about .box:nth-child(1) h1 {
    font-size: 34px;
  }

  .about .box-about .box:nth-child(1) p {
    font-size: 14px;
  }

  .about .box-about .box:nth-child(2) img {
    width: 300px;
  }

  .hobby .box-hobby .box img {
    width: 250px;
  }

  .hobby .box-hobby .box h1 {
    font-size: 18px;
  }

  .hobby .box-hobby .box p {
    font-size: 14px;
  }

  .contact .box-contact form table tr td input {
    padding: 10px 40px 15px 20px;
  }

  .contact .box-contact form table tr td textarea {
    padding: 15px 100px 100px 20px;
  }
}

@media screen and (max-width: 475px) {
  header .hero h1 {
    font-size: 45px;
  }

  .about .box-about .box:nth-child(1) h1 {
    font-size: 28px;
  }

  .about .box-about .box:nth-child(1) p {
    font-size: 12px;
  }

  .about .box-about .box:nth-child(2) img {
    width: 250px;
  }
}

@media screen and (max-width: 375px) {
  .navigation .box-navigation .box:nth-child(2) {
    right: 30px;
  }

  .navigation .box-navigation .menu-navigation.menu-active {
    right: 30px;
  }

  .about .box-about .box:nth-child(1) h1 {
    font-size: 24px;
  }

  .about .box-about .box:nth-child(1) p {
    font-size: 10px;
  }

  .about .box-about .box:nth-child(2) img {
    width: 200px;
  }

  .hobby .box-hobby .box img {
    width: 200px;
  }

  .hobby .box-hobby .box h1 {
    font-size: 16px;
  }

  .hobby .box-hobby .box p {
    font-size: 12px;
  }

  .contact .box-contact h1 {
    font-size: 28px;
  }

  .contact {
    padding: 120px;
  }

  .contact .box-contact form table tr td input {
    padding: 10px 40px 15px 20px;
  }

  .contact .box-contact form table tr td textarea {
    padding: 15px 100px 100px 20px;
  }
}
